.login-container {
  height: 100vh; 
  background: linear-gradient(135deg, #71b7e6, #9b59b6); 
}

.login-box {
  width: 100%;
  max-width: 400px; 
  background-color: #ffffff;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2); 
}
