.timetable-container {
    min-height: 100vh;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    padding: 1rem;

}

.day-section {
    margin-top: 5%;
    background-color: #ffffff;
    border-radius: 1.5rem;
    padding: 1.5rem;
    margin-bottom: 2rem;
    box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease;
    margin-right: 1rem;
    margin-left: 1rem;
}