<div class="container-fluid timetable-container">
    <div class="row justify-content-center text-center mt-4">
        <h1>Klasa {{ userClass }}</h1>
    </div>
    <div class="row justify-content-center">
        <div *ngFor="let day of days" class="day-section col-md-2">
            <h2>{{ day }}</h2>
            <div *ngFor="let lesson of getDay(day)" class="row lesson mt-4">
                <span class="hour">{{ lesson.hour }} </span>
                <span class="subject">{{ lesson.subject }}</span>
            </div>
        </div>
    </div>
</div>
